body {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form {
    width: 300px;
    padding: 20px;
    background-color: rgb(237, 237, 237);
    border-radius: 4px;
    font-size: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #662384;
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
    height: 65px;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;     /*den her bliver overrided af display flex*/
    font-size: 12px;
    padding: 10px;
    width: 92%;
}

.input-control label {
    color: #0f2027;
    font-size: 12px;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control.error {
    color: #ff3860;
    font-size: 9px;
    height: 65px;
}

.navigater {
    display: flex;
    justify-content: space-between;
}

.navigater a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #662384;
    margin-top: 10px;
    
}

.navigater svg {
    fill: black;
}

.back svg {
    transform: rotate(180deg);
}
